---
import { AnimationCode } from '../components/animation-code';
import { PropertiesForm } from '../components/properties-form';
import logo from '../assets/logo.svg';
import { Timeline } from '../components/timeline';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>MotionCSS</title>
  </head>
  <body>
    <main class="flex min-h-screen justify-between">
      <div class="relative flex flex-grow flex-col">
        <div class="absolute left-0 m-4">
          <div class="inline">
            <img src={logo} alt="" width={48} height={48} />
          </div>
        </div>

        <!-- <div class="absolute right-0">Star on github</div> -->

        <div class="grid flex-grow place-items-center">
          <div
            class="round relative grid h-16 w-32 place-items-center overflow-hidden rounded border-2 border-slate-900"
          >
            Star on GitHub
          </div>
        </div>

        <Timeline client:only />
      </div>

      <div class="flex w-1/4 flex-col border-l border-l-slate-900">
        <div class="p-4">
          <PropertiesForm client:only />
        </div>

        <div class="flex-grow border-t border-t-slate-900">
          <AnimationCode client:only />
        </div>
      </div>
    </main>
  </body>
</html>
